@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: #fafbff;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.875rem;
  color: #000;
  line-height: 21px;
}
@media (max-width: 1200px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

ul,
li {
  list-style: none;
}

.sidebar {
  width: 20%;
  min-width: 301px;
  padding: 36px 23px 76px 28px;
  background: #fff;
}
@media (max-width: 1200px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sidebar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 17px;
  width: 100%;
  margin-top: 46px;
}
@media (max-width: 1200px) {
  .sidebar__menu {
    display: none;
  }
}
.sidebar__menu.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar__element {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 14px 11px 11px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  border-radius: 8px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .sidebar__element:hover {
    background: #5932EA;
  }
}
@media (min-width: 768px) {
  .sidebar__element:hover .element-sidebar__name {
    color: white;
  }
}
@media (min-width: 768px) {
  .sidebar__element:hover .element-sidebar__icon_s path {
    stroke: white;
  }
}
@media (min-width: 768px) {
  .sidebar__element:hover .element-sidebar__icon_f path {
    fill: white;
  }
}
@media (min-width: 768px) {
  .sidebar__element:hover .sidebar-arrow path {
    stroke: white;
  }
}
.burger {
  width: 40px;
  height: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: transparent;
  border-radius: 50%;
  position: relative;
  z-index: 5;
}
@media (min-width: 1200px) {
  .burger {
    display: none;
  }
}
.burger__body {
  width: 40px;
  height: 2px;
  background: #000;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.burger__body::before,
.burger__body::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background: #000;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.burger__body::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.burger__body::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.burger.open .burger__body {
  -webkit-transform: translateX(-44px);
          transform: translateX(-44px);
  background: transparent;
}

.burger.open .burger__body::before {
  -webkit-transform: rotate(45deg) translate(32px, -32px);
          transform: rotate(45deg) translate(32px, -32px);
  background-color: #000;
}

.burger.open .burger__body::after {
  -webkit-transform: rotate(-45deg) translate(32px, 32px);
          transform: rotate(-45deg) translate(32px, 32px);
  background-color: #000;
}

.element-sidebar__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
.element-sidebar__name {
  color: #9197B3;
  line-height: 21px;
  letter-spacing: -0.01em;
}

.author {
  margin-top: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
@media (max-width: 1200px) {
  .author {
    margin-top: 50px;
  }
}
.author__name {
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #000000;
}
.author__profession {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #757575;
}

.main {
  padding: 41px 0 0 66px;
}
@media (max-width: 800px) {
  .main {
    padding-left: 10px;
  }
}
.main__title {
  font-size: 1.5rem;
  line-height: 36px;
  margin-bottom: 51px;
}
.main__customers {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
          box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
  padding: 29px 45px 41px 37px;
  width: 968px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1200px) {
  .main__customers {
    width: 100%;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.customers__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px;
}
@media (max-width: 600px) {
  .customers__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.customers__textblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}
@media (max-width: 800px) {
  .customers__textblock {
    margin-left: 20px;
  }
}
.customers__title {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 33px;
  letter-spacing: -0.01em;
}
.customers__subtitle {
  font-size: 0.85rem;
  letter-spacing: -0.01em;
  color: #16C098;
}
.customers__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F9FBFF;
  width: 216px;
  height: 38px;
  padding-left: 8px;
  border-radius: 10px;
  margin-right: 9px;
}
@media (max-width: 600px) {
  .customers__input {
    width: 100%;
  }
}
.customers__input input {
  width: 80%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 0.75rem;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #B5B7C0;
}
.customers__table {
  border-collapse: collapse;
  margin-bottom: 29px;
  overflow: scroll;
}

.table__header {
  margin: 0 68px 0 37px;
}
.table__header th {
  margin: 0;
}

th {
  text-align: left;
  letter-spacing: -0.01em;
  color: #B5B7C0;
  padding-bottom: 14px;
  border-bottom: 1px solid #EEEEEE;
  line-height: 21px;
}

td {
  border-bottom: 1px solid #EEEEEE;
  padding: 19px 0;
  color: #292D32;
}

@media (max-width: 900px) {
  td,
  th {
    font-size: 10px;
    padding: 15px 0;
  }
}
@media (max-width: 400px) {
  td,
  th {
    font-size: 9px;
  }
}

.customer__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.customer__info {
  letter-spacing: -0.01em;
  color: #B5B7C0;
}
@media (max-width: 600px) {
  .customer__info {
    display: none;
  }
}
.customer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.buttons-customer__element {
  width: 25px;
  height: 25px;
  background: #F5F5F5;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.75rem;
}
.buttons-customer__element_active, .buttons-customer__element_main:hover {
  background: #5932EA;
  color: #fff;
}

.btn {
  width: 80px;
  height: 29px;
  display: grid;
  place-items: center;
  letter-spacing: -0.01em;
  border-radius: 4px;
  cursor: pointer;
  background: #FFC5C5;
  color: #DF0404;
  border: 1px solid #DF0404;
}
@media (max-width: 600px) {
  .btn {
    width: 50px;
    font-size: 10px;
  }
}

.btn_active {
  color: #008767;
  border: 1px solid #00B087;
  background: rgba(22, 192, 152, 0.38);
}

@media (max-width: 500px) {
  .country,
  .company {
    display: none;
  }
}