.sidebar {
    width: 20%;
    min-width: 301px;
    padding: 36px 23px 76px 28px;
    background: #fff;

    @media (max-width:1200px){
        width: 100%;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 17px;
        width: 100%;
        margin-top: 46px;

        @media (max-width:1200px){
            display: none;
        }

        &.open{
            display: flex;
        }
    }
    
    &__element {
        width: 100%;
        display: flex;
        padding: 11px 14px 11px 11px;
        justify-content: space-between;
        align-items: center;
        transition: all .1s;
        border-radius: 8px;
        cursor: pointer;

        @media (min-width: 768px){
            &:hover{
                background: $main-blue;
            }
        }

        @media (min-width: 768px){
            &:hover .element-sidebar__name {
                color: white;
            }
        }

        @media (min-width: 768px){
            &:hover .element-sidebar__icon_s path {
                stroke: white;
            }
        }

        @media (min-width: 768px){
            &:hover .element-sidebar__icon_f path {
                fill: white;
            }
        }

        @media (min-width: 768px){
            &:hover .sidebar-arrow path{
                stroke: white;
            }   
        }
    }

    &__author {
    }
}

.burger {
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background: transparent;
    border-radius: 50%;
    position: relative;
    z-index: 5;

    
    @media (min-width:1200px){
        display: none;
    }

    &__body {
        width: 40px;
        height: 2px;
        background: #000;
        border-radius: 2px;
        transition: all .2s ease-in-out;
    }
}

.burger__body::before,
.burger__body::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    transition: all .2s ease-in-out;
}

.burger__body::before {
    transform: translateY(-10px);
}

.burger__body::after {
    transform: translateY(10px);
}


.burger.open .burger__body {
    transform: translateX(-44px);
    background: transparent;
}

.burger.open .burger__body::before {
    transform: rotate(45deg) translate(32px, -32px);
    background-color: #000;
}

.burger.open .burger__body::after {
    transform: rotate(-45deg) translate(32px, 32px);
    background-color: #000;
}

.element-sidebar {

    &__main{
        display: flex;
        align-items: center;
        gap: 14px;
    }

    &__icon {
        
    }

    &__name {
        color: #9197B3;
        line-height: 21px;
        letter-spacing: -0.01em;
    }
}
.author {
    margin-top: 570px;
    display: flex;
    gap: 12px;

    @media (max-width:1200px){
        margin-top: 50px;
    }

    &__name {
        line-height: 21px;
        letter-spacing: 0.01em;
        color: #000000;
    }

    &__profession {
        font-weight: 400;
        font-size: 0.75rem; //12px
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #757575;
    }
}