@import "base";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: $bg-color;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 0.875rem; // 14px
    color: #000;
    line-height: 21px;
}

ul,
li {
    list-style: none;
}


@import "sidebar";
@import "main";